################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArborLM/FileContentIndex
/.vs/ArborLM/v17/.wsuo
/.vs/ArborLM/v17/DocumentLayout.json
/.vs
